.full-width {
  width: 100%;
}

.post .comments {

  margin-top: 50px;

  .sections {
    display: inline-block;
    vertical-align: top;
  }
  
  .left {
    display: inline-block;
    width: 15%;
  }
}

